
*{
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

body{
 box-sizing: border-box;
 padding:3rem;
 overflow-x: hidden;
 font-family: 'Open Sans', sans-serif;

 @media only screen and (max-width:50em) {
  padding: 0 0;
 }
}

html{
 font-size: 62.5%;
 background-image: linear-gradient(to right bottom, $color-blue-1, $color-navy-1 );


}