.container{
 max-width: 130rem;
 min-height: 50rem;
 background-color: $color-gray-1;
 margin: 2rem auto;
 -webkit-box-shadow: 13px 20px 61px 6px rgba(36,36,36,1);
 -moz-box-shadow: 13px 20px 61px 6px rgba(36,36,36,1);
 box-shadow: 13px 20px 61px 6px rgba(36,36,36,1);
 border-radius: 1%;
 overflow: hidden;

}

.header{
 background-color: white;
 width: 100%;
 height: 100%;
}

.head-area{
 display: flex;
 justify-content: space-between;
 align-items: center;

 img{
  height: 10rem;
 }

}

.search-bar{
 // background-color: $color-blue-1;
 font-family: inherit;
 font-size: inherit;
 padding: 2rem;
 flex: 0 0 40%;
 
 form{
  text-align: center;
  position: relative;
  input{
   font-family: inherit;
   width: 80%;
   background-color: $color-gray-2;
   border-radius: 20px;
   transition: all .5s;
   padding-left: 2rem;
   color: rgba(0, 0, 0, 0.823);
   border: none;
   padding: .5rem 1rem;
  }
  .search-button{
   display: inline-block;
   i{
    position: relative;
    right: 3rem;
    font-size: 1.3rem;
    text-decoration: none;
    
   }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  // padding-left: 2rem;

}

  input:focus{
   width: 95%;
   transition: all .5s;
   outline: none;

  }


 }
}

.icons{
 
 display: flex;
 
 margin-right: 5rem;
 
 i{
  font-size: 3rem;
  margin: 0 1rem;
  color:$color-gray-4;
  transition: all .3s;
 }
 i:hover{
  font-size: 3.5rem;
  transition: all .3s;
  color: $color-gray-3;
 }
}


.content{

 display: flex;

}

.nav{

 flex: 0 0 18%;
//  height: 80rem;

 background-color: $color-dark-slate;
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
}

.navigation-container{
  
    padding: 2rem 0rem;    
}
.navigation{
  &__item{

    list-style-type: none;
    padding: 1.5rem 2rem;
    


    &:hover{
      background-color: $color-red-primary;
      transition: all .5s;
      a{
        color: white;
        font-size: 1.7rem;
        transition: all .5s;
        font-weight: bold;
      }
    }


    &__link{
      text-decoration: none;
      color: $color-red-primary;
      text-transform: uppercase;
      font-size: 1.5rem;
      transition: all .5s;

      &:hover{
        color: $color-dark-slate;
        transition: all .5s;
      }
    }
  }
}
.copywrite{
  text-align: center;
  margin-bottom: 2rem;
  p{
    color: $color-red-primary;
    font-size: 1.6rem;

  }
}



.main-area{
 flex: 1;
 

}

.images-section{
  &__container{
    display: flex; 
  }
  &__image{
    img{
      width: 100%;
    }
  }
}

  .rating-section{
    display: flex;
    background-color: $color-white-snow;
    border: .5px solid $color-red-primary;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin-top: -.25rem;

    &__name{
      
      text-transform: uppercase;
      color: $color-red-primary;
      margin: 0 2.5rem;
      h1{
        font-size: 2.5rem;
        font-weight: normal
      }
    }

    &__stars{
      
      margin-right: auto;
      font-size: 2.5rem;
      color: $color-red-primary;  
    }

    &__location{
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: italic;
      padding: 0 2rem;
      color: $color-dark-slate;
     
      i{
        padding: 0 1rem;
        font-size: 3rem;
        color: $color-red-primary;
      }
    }

    &__rate{
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: $color-red-primary;
      color: white;
      padding: 1rem;
        p{
         font-size: 1rem; 
        }
        span{
          font-size: 3rem;
        }
    }
  }

.main-content{
  margin: 3rem 8rem;
  display: flex;
  
  
}
.left-content-box{
  
  flex: 0 0 60%;
  background-color: $color-white-snow;
  box-shadow: 5px 10px 30px rgba($color: #B0B0B0, $alpha: 0.5);
  padding: 2rem 2rem;

  h3{
    font-size: 2rem;
  }

  p{
    margin: 1.5rem 0;
    font-size: 1.4rem;
    text-align: justify;
  }
  &__hr{
    display: flex;
    justify-content: center;
    hr{
      width: 80%;
      opacity: .6;
    }
  }

  &__features{

    display: flex;
    justify-content: space-around; 

    &__boxes{
      
      margin: 1rem 0;

      &__items{
        margin: 1.5rem 0;

        list-style-type: none;

        &__container{
          display: flex;
          align-items: center;

        }


        i{
          margin-right: 1.3rem;
          font-size: 3rem;
          color: $color-red-primary;
          // background-color: $color-blue-1;
        }
        span{
          // background-color: red;
          font-size: 1.3rem;
          text-align: center;

        }

      }
    }

  }
}

// Users rated
.users-rated{
  display: flex;

  &__text-container{
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  &__images-container{
    display: flex;

    &__img-box{
      width: 6rem;
      margin-right: -2rem;
      img{
        width: 100%;
        border-radius: 100%;
        border: .4rem solid white;
      }
    }
  }
}


// Right part of the main section

.right-content-box{
  
  display: flex;
  margin: 0rem 3rem;
  flex-direction: column;
  
  &__boxes{
    padding: 2rem 2rem;
    background-color: $color-white-snow;
    box-shadow: 5px 10px 30px rgba($color: #B0B0B0, $alpha: 0.5);
    align-items: center;
  }

  &__boxes:not(:last-child){
    margin-bottom: 2rem;

  }

  &__boxes{
  
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

    &__items{
      // margin: 1.5rem 0;
      // background-color: $color-lime-1;
      list-style-type: none;
      p{
        font-size: 1.2rem;
        text-align: justify;
      }

      &__user-rating{
        margin: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        // background-color: #B0B0B0;
        &__img-container{
          width: 8rem;

          img{
            width: 100%;
            border-radius: 50%;
          }
        }
        &__name{
          display: flex;
          align-items: center;
          text-align: center;
          padding: 0 1rem;
          font-size: 1.1rem;
          // background-color: blue;

          h4{
            font-size: 1.2rem;
            color: inherit;
          }
        }

        &__number{
          display: flex;
          align-items: center;
          text-align: center;
          padding: 0 1rem;
          font-size: 1.1rem;
          // background-color: green;
          h4{
            color: $color-red-primary;
            // font-weight: bold;
            font-size: 3rem;
          }
        }
      }
      

      &__container{
        display: flex;
        align-items: center;

      }
    }
  }

}